<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pychron Web API</title>
    <link href="{{ url_for('static', filename='css/code.css') }}" rel="stylesheet" type="text/css">
</head>
<body>

<h1>Pychron Public services</h1>

<h2>Routes</h2>
<ul>
    <li><a href="api/v1/sample">sample</a> </li>
    <li><a href="api/v1/project">project</a></li>
    <li><a href="api/v1/material">material</a></li>
    <li><a href="api/v1/principal_investigator">principal_investigator</a></li>
    <li><a href="api/v1/analysis">analysis</a></li>
</ul>

</body>
</html>